---
interface Props {
	title: string;
	textButton: string;
	body: string;
	href: string;
	imageXL: string;
	imageXS: string;
}

const { href, textButton, title, body, imageXL, imageXS } = Astro.props;
---

<article class="card font-sans px-3">
	<picture class="card__picture w-full">
		<source media="(min-width: 768px)" srcset={`${imageXL}`}>
		<source media="(max-width: 767px)" srcset={`${imageXS}`}>
		<img src={`${imageXL}`} alt={`Image feature ${title}`}>
	</picture>
	
	<div class="card__body flex flex-col lg:grid lg:grid-cols-8 gap-4 pt-4">
		<div class="col-span-4 lg:pr-5">
			<h1 class="font-bold text-neutral-dark dark:text-neutral-white text-5xl lg:text-6xl leading-1 tracking-tight">
				{title}
			</h1>
		</div>

		<div class="col-span-4 flex flex-col gap-5">
			<p class="text-base text-neutral-dark-grayish dark:text-neutral-grayish leading-7 mb-2">
				{body}
			</p>
			<a href={href} class="text-base uppercase max-w-fit px-5 py-2 bg-secondary hover:bg-neutral-dark active:bg-neutral-dark focus:bg-neutral-dark focus:outline-none font-sans font-normal text-white transition-all duration-700">
				{textButton}
			</a>
		</div>
	</div>
</article>

