---
import { fade } from 'astro:transitions';

interface Props {
  title: string;
  body: string;
  image: string;
  id: string;
	number: string;
}

const { title, number, image, body, id } = Astro.props;
---

<article class="card" transition:name=`hero-post-${id}` transition:animate={fade({ duration: '0.6s' })}>
	<a href={`/blog/${id}`} class="flex items-center flex-row max-w-xl dark:border-gray-700">
		<img src={image} alt={title} class="object-cover w-28 h-36 lg:h-[154px] lg:w-28">
		<div class="flex flex-col justify-between pl-3 md:pl-5 py-0 leading-normal">
			<span class="text-4xl font-sans font-bold text-neutral-grayish mb-4">{number}</span>
			<h4 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white hover:text-secondary dark:hover:text-secondary transition-all duration-500">
				{title}
			</h4>
			<p class="mb-0 text-base font-normal text-neutral-dark-grayish dark:text-neutral-grayish">
				{body}
			</p>
		</div>
	</a>
</article>
